.form {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.button {
   margin-left: 10px;
   background-color: #B01713;
   border-radius: 11px;
   color: white;
   font-size: 17px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}

.button:hover {
   background-color: gray;
   color: #B01713;
}


.InputBar {
   width:300px;
   height: 50px;
   border-radius: 11px;
   font-size: 20px;
   padding: 0 10px;
   text-align: left; 
 }

 

 